body{
    background-color: beige;
    margin: 0px;
    overflow: scroll;
}

header{
    background-color: rgb(218, 80, 30);
    padding: 20px;
    margin: 0px 0px 5px 0px;
    
}
main{
    background-color: rgb(224, 235, 226);
    padding: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: darkgoldenrod;
    border-radius: 30px;
    
}
footer{
    background-color: rgb(49, 226, 108);
    padding: 20px;
    margin: 0 px;

}
